html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
  }


  
  header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }

  .header-top > h1 {
  font-size: 36px;
  padding: 20px 40px 20px 40px;
  font-weight: normal;
  float: left;
  }

  .header-top-sections ul li {
    padding: 33px 20px 33px 20px;
    float: left;
  }

.main-title {
  margin-left: 80px;
}

.main-contents {
  margin: 100px 80px;
  height: 500px;
}

  .main-title > h1 {
    font-size: 140px;
    text-align: left;
    margin-top: 100px;
  }

  .main-title > h1 > span {
    color: rgb(255,74,74);
  }

  .main-title > h2 {
    font-size: 60px;

  }

  .main-contents h1 {
    padding: 0 0 15px 0;
    margin-bottom: 50px;
    font-size: 28px;
    border-bottom: 2px solid #dee7ec;
    font-weight: bold;
  }

  .main-contents-list {
    float: left;
    margin-right: 40px;
  }

  .main-contents-list > p {
    font-size: 24px;
    margin-top: 30px;
    
  }

  .contact {
    margin: 100px 80px;
  }

  .contact-title h3 {
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom:50px;
    border-bottom: 2px solid #dee7ec;
  }

  .contact-section p {
    width: 400px;
    font-size: 16px;
    padding-bottom: 10px;
  }

  input, textarea {
    width: 400px;
    padding: 20px 20px;
    margin-bottom: 30px;
    border: 1px solid #dee7ec;
  }

  .contact-submit {
    font-size: 18px;
    color: #889eab;
    background-color: #dee7ec;
  }

  footer {
    height: 120px;
    padding: 40px 40px;
    background-color: #2f5167;
    color: #fff;
  }

  .footer-title {
    font-size: 32px;
    float: left;
  }

  .footer-section {
    float: right;
    
  }

  .footer-section ul li {
    padding-bottom: 20px;
    text-align: left;
  }